<!DOCTYPE html>

<html lang="en">
<head>
    <title><!-- Insert your title here --></title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" media="all">
</head>
<body>
    <header class="header" id="header" role="banner">
      <div id="header-inner" class="clear-block">
                  <a href="/" title="Home" rel="home" class="header__logo" id="logo"><img src="/static/logo.png" alt="Home" class="header__logo-image"></a>
                  <a href="/" class="logout_button">Logout</a>
        </div>
    </header>
    <div id="main" class="clearfix">
      <div id="main-inner-2">

            <div id="circle_main" style="background-color: #{{ m_color }}">
                 <p class="name_main">{{ f_name }}<br/>{{ l_name }}</p>
            </div>
	{% for item in html %}
            <div class="circle_connect"  style="background-color: #{{ item.color }};left: {{ 380 + item.cos*260 }}px;top: {{ 300 + item.sin*260 }}px;">
                <p class="name_connect"><a href="/user/{{logged_number}}/info/{{item.id}}">{{item.fName}}<br/>{{item.lName}}</a></p>
            </div>
            <img src="/static/link.png" style="position: absolute; left: {{ 455 + item.cos*155 }}px;top: {{ 375 + item.sin*155 }}px;-webkit-transform: rotate({{ item.angle+90 }}deg);"> </img>
        {% endfor %}
        </div>
    </div>
    <footer class="footer">
      <div id="header-inner" class="clear-block">
                  <a href="/" title="Home" rel="home" class="white_click" id="logo">Admin</a>
                  <br />Copyright 2015 <span class="name">Group 009 </span> All rights reserved.
        </div>
    </footer>
</body>
</html>
